.container {
  max-width: 960px;
  padding: 2em;
  margin: 0 auto;
}

.image {
  background-image: linear-gradient(#fca17d6a, #fca17da3),
    url("../assets/about-hero.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-weight: 100;
  font-size: 48px;
}

.content h1 {
  letter-spacing: 0.5px;
  color: white;
}

.stats_numbers p {
  opacity: 0.8;
}

.stats p,
.status h2 {
  text-align: center;
  padding: 10px;
}

.stats h2 {
  font-size: 32px;
}

.stats * {
  text-align: center;
  padding: 10px;
}

.stats_numbers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.stats_numbers h3 {
  font-size: 42px;
  color: #b1fce7;
}

.image, .stats {
  margin-bottom: 150px;
}

@media only screen and (max-width: 600px) {
  .content {
    font-size: 32px;
  }

  .image {
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    font-size: 28px;
  }
}
