.container {
  max-width: 960px;
  padding: 2em;
  margin: 0 auto;
}

.image {
  background-image: linear-gradient(#fca17d6a, #fca17da3),
    url("../assets/about-hero.png");
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  font-weight: 100;
  font-size: 48px;
}

.content h1 {
  letter-spacing: 0.5px;
  color: white;
}

.image {
  margin-bottom: 150px;
}


/* our team */

.imageGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6em;
}

.imageGrid div {
  border-radius: 5px;
  width: 200px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.218);
  
}

.team div {
  margin-bottom: 2em;

}

@media only screen and (max-width: 600px) {
  .content {
    font-size: 32px;
  }

  .image {
    height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  .content {
    font-size: 28px;
  }
}
