.container {
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .boxes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1;
  }

  .boxes > div {
    width: 275px;
    height: 270px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    border: 1px solid #FCA17D;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;

  }

  .boxes > div:hover {
    border-color: #7EFCE7; 
  }

  .form_container {
    flex: 2;
    display: flex;
    justify-content: center;
}

.form_container form {
    width: 700px;
    height: 600px;
    padding: 1.5em;

    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

/* form title */

.form_container form h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
}

.form_container form p {
    margin-bottom: 20px;
}

/* form name and email */

.form_container form input {
    border: 1px solid #FCA17D;
    height: 55px;
    width: 400px;
    padding: 1.3em 1.6em;
}



/* form textarea */

.form_container form textarea {
    border: 1px solid #FCA17D;
    height: 400px;
    width: 400px;
    padding: 1.3em;
}

.form_container form input,
.form_container form textarea {
    border-radius: 5px;
    font-size: .8em;
    transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);
    outline: none;
}

.form_container form input:hover,
.form_container form textarea:hover,
.form_container form input:active,
.form_container form textarea:active {
    border-color: #7EFCE7;  
}