.footer {
  background-color: #211f1c;
  width: 100%;
  position: relative;
}

.footer_container {
  display: flex;
  max-width: 1430px;
  margin: 0 auto;
  padding: 1.3em 2em;
}

.footer_links {
  display: flex;
  padding: 2em 2em;
  flex-wrap: wrap;
  gap: 5em;
}

.footer_list {
  color: white;
  display: flex;
  flex-direction: column;
}

.footer_list * {
  color: white;
}

.footer_list h3 {
  font-size: 20px;
}

.footer_list .line {
  width: 90%;
  padding: 0.4em 0;
  height: 2px;
  border-top: 1px solid #B1FCE7;
}

.link_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact_item {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
}

.contact_item span {
  display: flex;
  flex-direction: column;
}

.watermark {
  position: absolute;
  font-size: .8em;
  opacity: .7;
  color: white;
  bottom: 5px;
  right: 10px;
}

.watermark a{
    text-decoration: underline;
}

@media only screen and (max-width: 500px) {

  /* hero title */
 .footer_list h3 {
  font-size: 16px;
 }

 .footer_links {
  font-size: 12px;
 }

}