.btn {
    color: #181615;
    border: none;
    height: 45px;
    width: 170px;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: inset 0px 8px 4px rgba(236, 236, 236, 0.17);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    font-weight: 500;
}

.blue {
    background-color: #7EFCE7;
}

.orange {
    background-color: #fca17d;
}