
.imageGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6em;
  }
  
  .imageGrid div div{
    border-radius: 5px;
    width: 200px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.218);
    
  }

  .imageGrid div h4 {
    font-size: 1.2em;
  }


.team div {
    margin-bottom: .7em;
}
